MINIO_ROOT_USER='minio.root.user'
MINIO_ROOT_PASSWORD='please_replace_with_your_own_password'
MINIO_SERVER_URL="https://subdomain.example.xyz"
MINIO_BROWSER_REDIRECT_URL="https://subdomain.example.xyz/ui"

MINIO_EXTRA_USER='additional.user'
MINIO_EXTRA_PASSWORD='password.for.the.additional.user'

MINIO_EXTRA_BUCKET_1='extra-bucket-1'
MINIO_EXTRA_BUCKET_2='extra-bucket-2'
MINIO_EXTRA_BUCKET_1_POLICY='bucket-1-readwrite'
MINIO_EXTRA_BUCKET_2_POLICY='bucket-2-readwrite'

MINIO_EXTRA_CREATE_ACCESS_KEY='Y'
